body {
	background-color: #181c2b;
	color: #fff;
	font-family: sans-serif;
	margin-top: 32px;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
}

.container {
	max-width: 1300px;
	margin: auto;
}

.container-dark {
	background-color: #0c0e15;
}

.container-light {
	background-color: #384163;
}

.rounded {
	border-radius: 8px;
}

.main-header {
	padding: 32px;
	margin-bottom: 16px;
	text-align: center;
}

.main-header>p {
	font-size: 1.3rem;
}

.orgs-container {
	padding: 16px;
}

.orgs-title {
	font-size: 1.5rem;
	font-weight: bold;
}

.orgs-list {
	margin-top: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 16px
}

@media screen and (max-width: 700px) {
	.orgs-list {
		flex-direction: column;
	}
}

.org {
	background-color: hsl(227, 28%, 40%);
	display: flex;
	min-width: 48px;
	min-height: 48px;
	padding: 8px 16px;
	align-items: center;
	flex-grow: 1;
	cursor: pointer;
	transition: background-color 0.1s;
	overflow: visible;
}

#docsList>.org {
	justify-content: center;
}

.org>img {
	width: 48px;
	height: 48px;
	box-sizing: border-box;
	margin-right: 16px;
	border-radius: 8px;
	background-color: #0005;
	border: #181c2b 2px solid;
}

.org>img.padding {
	padding: 8px;
}

.org>span {
	margin: auto 0px auto 5px;
}

.org:hover {
	background-color: hsl(227, 28%, 50%);
}

.org.active,
.org:active {
	background-color: hsl(227, 28%, 60%);
}

.org>h3 {
	margin: 0;
}

.org-info {
	margin: 16px 0 0;
	padding: 8px 16px
}

a {
	color: #97b1ff;
}

span>svg {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.15em;
}

#loading {
	margin: auto;
	margin-top: 10%;
	width: 10%;
	aspect-ratio: 1;
	border-radius: 50%;
	background: #514b82;
	mask: radial-gradient(circle closest-side at 50% 40%, #0000 94%, #000);
	-webkit-mask: radial-gradient(circle closest-side at 50% 40%, #0000 94%, #000);
	transform-origin: 50% 40%;
	animation: l25 1s infinite linear;
}

@keyframes l25 {
	100% {
		transform: rotate(1turn)
	}
}

.repos-list {
	margin-top: 16px;
	--col-count: 3;
	display: grid;
	grid-template-columns: repeat(var(--col-count), 1fr);
	grid-auto-rows: 1fr;
	gap: 16px;
	max-width: 100%;
}

@media screen and (max-width: 600px) {
	.repos-list {
		--col-count: 1;
	}
}

@media screen and (max-width: 900px) and (min-width: 600px) {
	.repos-list {
		--col-count: 2;
	}
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
	.repos-list {
		--col-count: 3;
	}
}

@media screen and (min-width: 1200px) {
	.repos-list {
		--col-count: 4;
	}
}

.repo {
	width: 1fr;
	background-color: hsl(227, 28%, 30%);
	box-sizing: border-box;
	padding: 0 16px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.repo:hover {
	background-color: hsl(227, 28%, 40%);
	transition: background-color 0.1s;
	cursor: pointer;
}

.repo>h4 {
	word-wrap: break-word;
	text-align: center;
	font-size: 1.2rem;
	margin-bottom: 12px;
}

.repo>h4>.repo-title-org {
	font-weight: normal;
}

.repo>div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
}

.repo>div>span.bull::before {
	content: "•";
	margin: 0 4px;
}

.repo>p {
	text-align: center;
}

.repo>div>img {
	display: block;
	margin-right: 4px;
	border: #181c2b 2px solid;
	border-radius: 5px;
	height: 48px;
	width: 48px;
}

.repo>.badges {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 8px;
	margin-top: 8px;
}

.badge-fork {
	background-color: hsl(23, 100%, 50%);
	padding: 2px 12px;
	display: block;
	width: max-content;
	border-radius: 16px;
}

.badge-archived {
	background-color: hsl(0, 0%, 50%);
	padding: 2px 12px;
	display: block;
	width: max-content;
	border-radius: 16px;
}

.markdown-heading {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.markdown-heading>a {
	height: 1em;
	width: 1em;
	margin-left: 7px;
	vertical-align: -0.15em;
}